# -------------------------------------------------------------------
# Secrets and config
# -------------------------------------------------------------------
.env
.env.*
service_account.json

# -------------------------------------------------------------------
# PyCharm project files
# -------------------------------------------------------------------
.idea*
.idea/
*.iml

# -------------------------------------------------------------------
# Python cache and logs
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*.log

# -------------------------------------------------------------------
# Virtual environments
# -------------------------------------------------------------------
.venv/
venv/
ENV/
env/
/.venv/